*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    img{
        position: relative;
        margin: auto;
        display: block;
    }
    .l-1, .l-2{
        .red{
            background-color: rgba(0, 0, 0, 0.95);
            width: 182px;
            height: 170px;
            border-radius: 50%;
        }
        .yellow{
            background-color: rgba(0, 0, 0, 0.95);
            width: 182px;
            height: 170px;
            border-radius: 50%;
            margin-top: 20px;
        }
        .green{
            background-color: rgba(0, 0, 0, 0.95);
            width: 182px;
            height: 170px;
            border-radius: 50%;
            margin-top: 25px;
        }
    }
    .l-1{
        position: absolute;
        z-index: 10;
        top: 100px;
        left: 541px;
    }
    .l-2{
        position: absolute;
        z-index: 10;
        top: 101px;
        left: 801px;
        #red{
            background-color: rgba(0, 0, 0, 0.95);
            width: 182px;
            height: 175px;
            border-radius: 50%;
        }
        #yellow{
            background-color: rgba(0, 0, 0, 0.95);
            width: 182px;
            height: 175px;
            border-radius: 50%;
            margin-top: 17px;
        }
        #green{
            background-color: rgba(0, 0, 0, 0.95);
            width: 182px;
            height: 175px;
            border-radius: 50%;
            margin-top: 17px;
        }
    }
}